body{

    font-family:verdana,Helvetica, sans-serif;
    background-color: #e9eaea;
        margin: 50px;
}

h1{color: red;

}
.grijs{color: grey;

}
h4{
    background-color: red;
    margin-right: 1350px;
    padding: 11px;
}

p{ color: grey;
    line-height: 0%;

}